# Python
__pycache__/
*.pyc
/backend
/frontend
/old
create_database.py
chromadb/
/chroma

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/

eggs/
.eggs/
.venv/
venv/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
